body{
    font-family: 'Jost', sans-serif;
}

.navbar-brand{
    font: 15px bold;
    color: rgba(102, 51, 153, 0.749);
}

.navbar-brand span{
    font: 70px bold ;
    color: #4426b1;
}

.bg-banner{
    background-color: #E9EDF4;
}

.nav-link{
    font-size: 18px;
    font-weight: 600;
    color: black;
}

.nav-item{
    margin-right: 30px;
}

.banner-subtitles{
    color: #7153D9;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 8px;
}

.banner-title{
    font-size: 72px;
    font-weight: 500;
}

.banner-text{
    font-size: 24px;
    font-weight: 400;
    color: #54545f;
}

.banner-btn{
    text-decoration: none;
    padding: 15px 45px;
    color: white;
    background: linear-gradient(135deg, #7153d9 10%, #5435be 35%, #4526b1 60%);
    border-radius: 40px;
}

.nav-fixed{
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-active {
    background-color:#fff;
    box-shadow: 5px -1px 12px -5px grey;
    padding-top: 20px;
    padding-bottom: 20px;
}

.feature-icon{
    background-color: #F2F5FB;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 6;
    border-radius: 50%;
}

.feature-p {
    color: #54545f;
    font-size: 20px;
}

.section-subtitles{
    color: #7153D9;
    font-size: 18px;
    font-weight: 500;
}

.section-subtitles2{
    color: #7153D9;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 8px;
}

.section-title{
    font-size: 60px;
    font-weight: 450;
}

.section-text{
    font-size: 24px;
    font-weight: 400;
    color: #54545f;
}

.feature-title2{
    font-size: 21px;
    font-weight: 500;
}

.feature-p2{
    font-size: 18px;
    color: #54545f;
}

.feature-list2{
    list-style: none;
}

.feature-list2 li::before {
    content: "\2022";
    color: #4526b1;
    font-weight: bold;
    display: inline;
    font-size: 50px;
    width: 1em;
    margin-left: -1em;
    padding-inline: 3%;
}

.service-card{
    box-shadow: 0px 12px 42px rgba(69, 38, 177, 0.1), 11px 6px 25px rgba(69, 38, 177, 0.1);
    border-radius: 20px;
    padding: 55px 45px;
}

.service-link{
    text-decoration: none;
    color: black;
}

.service-card-title{
    line-height: 1.5;
    font-weight: 500;
}

.service-card-title a{
    text-decoration: none;
    color: black;
}

.mysection{
    background-color: #4526B1;
    color: white;
}

.section-btn-white{
    text-decoration: none;
    padding: 15px 45px;
    color: #1c1c1c;
    background: #e2c4ff;
    border-radius: 27px;
    font-weight: 600;
    font-size: 16px;
}

.section-white-title{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 8px;
}

.section-white-banner{
    font-size: 50px;
    font-weight: 500;
}

.section-white-text{
    font-size: 18px;
}

.boost-img2{
    margin-top: -130px;
    margin-left: -150px;
}

.section-subtitles3{
    color: #7153D9;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 8px;
}

.section-text3{
    font-size: 21px;
    font-weight: 400;
    color: #8d8e99;
}

.section-text4{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #54545f;
}

.boost-features{
    font-size: 21px;
    font-weight: 500;
    color: #1c1c1c;
}

.icon-feature2{
    padding-top: 28px;
    padding-bottom: 31px;
}

.blog-subtitles{
    color: #7153D9;
    font-size: 16px;
    font-weight: 500;
}

.blog-title{
    font-size: 21px;
    font-weight: 500;
}

.blog-text{
    font-size: 18px;
    color: #54545f;
}