body{
    font-family: 'Jost', sans-serif;
}

.bg-banner{
    background-color: #E9EDF4;
}

.nav-link{
    font-size: 18px;
    font-weight: 600;
    color: black;
}

.nav-item{
    margin-right: 30px;
}

.banner-subtitles{
    color: #7153D9;
    font-size: 24px;
    font-weight: 500;
}

.banner-title{
    font-size: 72px;
    font-weight: 500;
}

.banner-text{
    font-size: 24px;
    font-weight: 400;
    color: #54545f;
}

.banner-btn{
    text-decoration: none;
    padding: 15px 38px;
    color: white;
    background: linear-gradient(135deg, #7153d9 0%, #5435be 45%, #4526b1 66%);
    border-radius: 40px;
}

.nav-fixed{
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-active {
    background-color:#fff;
    box-shadow: 5px -1px 12px -5px grey;
    padding-top: 20px;
    padding-bottom: 20px;
}

.feature-icon{
    background-color: #F2F5FB;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 6;
    border-radius: 50%;
}

.feature-p {
    color: #54545f;
}